# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
server

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build/
vcpkg_installed
*.db
.vs/shell-starter-cpp/FileContentIndex/4cca4474-c6e5-422c-a1ba-524804d901c9.vsidx
/.vs/shell-starter-cpp/FileContentIndex
/.vs
*.vcxproj
*.filters
*.user
/.vscode
/Debug
/shell.dir
/x64
shell-starter-cpp.sln
